@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('/fonts/HelveticaNeueLTStd-MdCn.woff2') format('woff2'),
        url('/fonts/HelveticaNeueLTStd-MdCn.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

